#wrapper {
	height: 100%;
	width: 100%;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #15152b;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#17172d+9,28293b+15,e8e9eb+41,e8e9eb+68 */
	background: #17172d; /* Old browsers */
	background: -moz-linear-gradient(top, #17172d 9%, #28293b 15%, #e8e9eb 41%, #e8e9eb 68%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #17172d 9%,#28293b 15%,#e8e9eb 41%,#e8e9eb 68%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #17172d 9%,#28293b 15%,#e8e9eb 41%,#e8e9eb 68%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17172d', endColorstr='#e8e9eb',GradientType=0 ); /* IE6-9 */
}
/*--------------HEADER---------------*/
.header {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around; 
	width: 100%;
}
.header-top {
	width: 90%;
	display: flex;
	justify-content: space-between;
}
/* header logo */

.logo_img {
	float: left; 
	padding: 13px 0 0 0;
}

.logo a {
	text-decoration: none;
}

.logo_first_text {
	margin: 0; 
	padding: 0 0 0 45px;
	font-family: FlareLightGothic;
	color: rgba(255, 255, 255, 0.55);
	font-size: 39px; 
	font-weight: 400;
	line-height: 52px; 
	text-align: justify;
}

.logo_second_text {
	margin: 0 ;
	padding: 0 0 0 50px;
	font-family: FranklinGothic;
	color: rgba(255, 255, 255, 0.55);
	font-size: 17px;
	font-weight: 300;
	line-height: 22px;
	text-align: justify;
}
/* end header logo */

/* header_buttons */
	.button_toggle {
		display: none;
	}
/* end header_buttons */

/*  header nav  */

.nav_checkbox {
	position: absolute;
	top: 0;
	opacity: 0;
}


.nav_el {
	padding: 8px 12px 8px 12px;
	font-family: ColaborateRegular;	
	color:  #a4a4b2;
	font-size: 17px;
	font-weight: 300;
	line-height: 62px;
	text-align: justify;
	text-decoration: none;
}


.header-nav a:hover,
.header-nav a:active,
.header-nav a:focus {
	color: #0f0f24;
	border-radius: 5px;
	background-color: #d1d1d5;
}
/* end header nav */

/*-------------SLIDER---------------*/
.slider_wrapper {
	position: relative;
	width: 100%;

}
	.slider_list_wrapper {
		display: flex;
		flex-wrap: wrap;
	}

			.slide {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				width: 100vw;
			}
				.slide_text{
					margin-right: 50px;
				}
					.h1_slider {
						margin: 40px 0 0 0;
						font-family: ChunkFive;
						color: #e7e8ea;
						font-size: 45px; /* Приближение из-за подстановки шрифтов */
						font-weight: 400;
						line-height: 52px; /* Приближение из-за подстановки шрифтов */
						text-align: justify;
						text-align: right;
						text-transform: uppercase;
					}
					.h2_slider {
						margin: 0;
						font-family: AlexandriaFLF;
						color: #d8d8e3;
						font-size: 39px; /* Приближение из-за подстановки шрифтов */
						font-weight: 400;
						line-height: 52px; /* Приближение из-за подстановки шрифтов */
						text-align: justify;
						text-align: right;
					}
					.h2_slider_span {
						margin: 0;
						font-family: AlexandriaFLF;
						color: #d8d8e3;
						font-size: 39px; /* Приближение из-за подстановки шрифтов */
						font-weight: 700;
						line-height: 52px; /* Приближение из-за подстановки шрифтов */
						text-align: justify;
						text-align: right;
					}
					.p_slider {
						margin: 5px 0 0 0;
						font-family: ColaborateThin;
						color: #e7e8ea;
						font-size: 23px; /* Приближение из-за подстановки шрифтов */
						font-weight: 100;
						text-align: right;
					}
					.slide_text_button_wrapper {
						margin: 35px 0 0 0;
						width: 179px;
						height: 43px;
						font-size: 23px; /* Приближение из-за подстановки шрифтов */
						font-weight: 500;
						line-height: 23.01px; /* Приближение из-за подстановки шрифтов */
						text-align: center;
						float: right;
					}
					.slide_text_button {
						padding: 10px 25px;
						text-decoration: none;
						outline: none;
						font-family: ColaborateMedium;
						color: #ffffff;
						font-size: 23px; /* Приближение из-за подстановки шрифтов */
						font-weight: 500;
						line-height: 43.01px; /* Приближение из-за подстановки шрифтов */
						text-align: center;
						border-radius: 5px;
						border-top: 1px solid #6f9bd9;
						border-right: 1px solid #6f9bd9;
						border-left: 1px solid #6f9bd9;
						background: #296ac2;
						background: -moz-linear-gradient(top, #296ac2 0%, #0f4085 100%);
						background: -webkit-linear-gradient(top, #296ac2 0%,#0f4085 100%);
						background: linear-gradient(to bottom, #296ac2 0%,#0f4085 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#296ac2', endColorstr='#0f4085',GradientType=0 );
					}
					.slide_text_button:hover {
						background: -moz-linear-gradient(top, #0f4085 0%,#296ac2 100%);
						background: -webkit-linear-gradient(top, #0f4085 0%,#296ac2 100%);
						background: linear-gradient(to bottom, #0f4085 0%,#296ac2 100%);
					}
					.slide_text img{
						float: right;
						margin: 20px 0 0 0;
					}

					.slide_img{

					}

		#previous, #next {
			background-color: transparent;
			border: none;
			color: #fff;
			font-size: 34px;
			position: absolute;
			top: 50%;
		}

		#previous {
			left: 5px;
		}

		#next {
			right: 5px;
		}
/*------------------CONTENT---------------------*/
.content {
	display: flex;
	padding: 0 10px;
	flex-wrap: wrap;
	justify-content: space-around;
}

.content__col {
	position: relative;
	width: 100%;
	max-width: 1200px;
	display: flex;
	display: -webkit-flex;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.content__col a {
	text-decoration: none;
}


	.book__block__description,.image__block__img__description,
	.media__block__description,.leo__block__description {
		margin: 0;
		font-family: Calibri;
		color: #8c8c92;
		font-size: 19px;
		font-weight: 400;
		line-height: 15px;
		text-align: center;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
	}
	/* book__block */
	.book__block,.image__block,.media__block,.leo__block {
		position: relative;
		display: inline-block;
		width: 234px;
		height: 155px;
		border: 5px solid #ffffff;
		-webkit-border-radius: 6px;
  		-moz-border-radius: 6px;
  		-ms-border-radius: 6px;
  		border-radius: 6px;
  		border: border-box;
		background: #faf9fa; /* Old browsers */
		background: -moz-linear-gradient(top, #faf9fa 0%, #e5e5e5 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #faf9fa 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #faf9fa 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf9fa', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	}

		.book__block__comment__block{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 10px 0 0 0;
		}
		.first_logo {
			padding: 0 0 0 5px;
			height: 40px;
		}

	/* image__block */
		.image__block__img {
			padding: 13px 0 0 0;
			margin: 0 auto;
			display: block;
		}
	/* media__block */
		.media__block__logo {
			margin: 0 auto;
			display: block;
			padding: 20px 0 15px 0;
		}
	/* leo__block */
		.leo__block__corner__img {
			position: absolute;
			right: 0px;
			top: 0px;
		}
		.leo__block__logo {
			margin: 0 auto;
			display: block;
			padding: 16px 0;
		}

/*-------WRAPPER------*/

.content__flex__wrapper {
	width: 100%;
	max-width: 1200px;
	display: flex;
	display: -webkit-flex;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

	.discover,.browse,.development {
		display: flex;
		display: -webkit-flex;
		justify-content: flex-start;
		-webkit-justify-content: flex-start;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		width: 290px;
		margin: 20px 0;
	}
		.discover_icon,.browse__icon,.development__icon {
			width: 35px;
			height: 35px;
		}
		.discover__description {
		
		}
		.discover__first__p,.browse__first__p,.development__first__p {
			margin: 0;
			padding: 0 0 0 10px;
			font-family: ColaborateLight;
			color: #505050;
			font-size: 25px; /* Приближение из-за подстановки шрифтов */
			font-weight: 300;
			line-height: 20px; /* Приближение из-за подстановки шрифтов */
			text-align: left;
		}

		.discover__second__p,.browse__second__p,.development__second__p {
			margin: 0;
			padding: 0 0 0 10px;
			font-family: ColaborateLight;
			color: #5f7390;
			font-size: 15px; /* Приближение из-за подстановки шрифтов */
			font-weight: 300;
			line-height: 20px; /* Приближение из-за подстановки шрифтов */
			text-align: justify;
		}

		.discover__text,.browse__text,.development__text {
			padding: 20px 0 0 0;
			width: 289px;
			font-family: ColaborateLight;
			color: #505050;
			font-size: 14px; /* Приближение из-за подстановки шрифтов */
			font-weight: 300;
			line-height: 20px; /* Приближение из-за подстановки шрифтов */
			text-align: justify;
		}

	.content__text__wrapper {
		width: 100%;
		margin: 50px 0;
	}

		.content__text__crossline {
			width: 90%;
			height: 1px;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e4+0,dddedf+47,e3e4e6+100 */
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left, #e2e2e4 0%, #dddedf 47%, #e3e4e6 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left, #e2e2e4 0%,#dddedf 47%,#e3e4e6 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right, #e2e2e4 0%,#dddedf 47%,#e3e4e6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e4', endColorstr='#e3e4e6',GradientType=0 ); /* IE6-9 */
		}

		.content__text__p {
			padding: 15px 0;
			max-width: 550px;
			font-family: Contra;
			color: #828181;
			font-size: 16px; /* Приближение из-за подстановки шрифтов */
			font-weight: 400;
			line-height: 25.01px; /* Приближение из-за подстановки шрифтов */
			text-align: center;
			margin: 0 auto;
		}


		.content__text__p__span a{
			text-decoration: none;
			color:  #687b96;
		}

	.content__info__title {
		width: 100%;
	}

		.content__info__text__p {
			margin: 0;
			font-family: ColaborateLight;
			color: #505050;
			font-size: 27px; /* Приближение из-за подстановки шрифтов */
			font-weight: 300;
			line-height: 33.01px; /* Приближение из-за подстановки шрифтов */
			text-align: center;
		}

		.content__info__text__p2 {
			padding: 5px 0 0 5px;
			margin: 0;
			font-family: ColaborateLight;
			color: #5f7390;
			font-size: 15px; /* Приближение из-за подстановки шрифтов */
			font-weight: 300;
			line-height: 20.01px; /* Приближение из-за подстановки шрифтов */
			text-align: center;
		}
	.content__info__passages {
		display: flex;
		display: -webkit-flex;
		justify-content: space-around;
		-webkit-justify-content: space-around;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		width: 100%;
		max-width: 1000px;
		margin: 50px 0 0 0;
	}
		.content__info__img {
			width: 382px;
			height: 235px;
		}

		.content__info__list__el {
			padding: 0 0 5px 0px;
		 	list-style-image: url("../images/bullet.png");
		 	font-family: ColaborateLight;
			color: #828181;
			font-size: 15px; /* Приближение из-за подстановки шрифтов */
			font-weight: 300;
			line-height: 30.01px; /* Приближение из-за подстановки шрифтов */
			text-align: justify;
		}
	
	.content__info__buttons {
		width: 100%;
		display: flex;
		display: -webkit-flex;
		justify-content: flex-start;
		-webkit-justify-content: space-around;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	}

		.content__info__button {
			display: inline-block;
		}

		.content__info__button a{
			padding: 10px 25px;
			text-decoration: none;
			outline: none;
			font-family: ColaborateRegular;
			color: #fff;
			font-size: 19px; /* Приближение из-за подстановки шрифтов */
			font-weight: 400;
			line-height: 35px; /* Приближение из-за подстановки шрифтов */
			border-radius: 5px;
			background: #296ac2;
			background: -moz-linear-gradient(top, #296ac2 0%, #0f4085 100%);
			background: -webkit-linear-gradient(top, #296ac2 0%,#0f4085 100%);
			background: linear-gradient(to bottom, #296ac2 0%,#0f4085 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#296ac2', endColorstr='#0f4085',GradientType=0 );
		}
		.content__info__button a:hover {
			background: -moz-linear-gradient(top, #0f4085 0%,#296ac2 100%);
			background: -webkit-linear-gradient(top, #0f4085 0%,#296ac2 100%);
			background: linear-gradient(to bottom, #0f4085 0%,#296ac2 100%);
		}
	
	.content__info__bottomtext {
		padding: 50px 0px;
		width: 90%;
	}
		.content__info__bottomtext__list {
			padding: 0 0 0 10px;
		}
		.content__info__bottomtext__el {
			padding: 4px 0 4px 0;
			list-style-image: url("../images/+.png");
			font-family: ColaborateLight;
			color: #828181;
			font-size: 15px; /* Приближение из-за подстановки шрифтов */
			font-weight: 300;
			line-height: 30.01px; /* Приближение из-за подстановки шрифтов */
			text-align: justify;
		}

.footer {
	padding: 25px 10px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#58586f+0,323245+45 */
	background: rgb(88,88,111); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, rgba(88,88,111,1) 0%, rgba(50,50,69,1) 45%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(88,88,111,1) 0%,rgba(50,50,69,1) 45%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, rgba(88,88,111,1) 0%,rgba(50,50,69,1) 45%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58586f', endColorstr='#323245',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */	
}
	
	.footer__top {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0;
		display: flex;
		display: -webkit-flex;
		justify-content: space-around;
		-webkit-justify-content: space-around;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	}

		.footer__top__icon {
			width: 60px;
			height: 60px;
		}

		.footer__top__text {
			width: 70%;
			margin: 0;
			padding: 0;
			font-family: Contra;
			color: rgba(255, 255, 255, 0.55);
			font-size: 13px; /* Приближение из-за подстановки шрифтов */
			font-weight: 400;
			line-height: 25.01px; /* Приближение из-за подстановки шрифтов */
			text-align: left;
		}

		.footer__top__description {
			width: 100%;
			margin: 0;
			padding: 0;
			font-family: ContraL;
			color: rgba(255, 255, 255, 0.55);
			font-size: 15px; /* Приближение из-за подстановки шрифтов */
			font-style: italic;
			line-height: 25.01px; /* Приближение из-за подстановки шрифтов */
			text-align: right;
		}

	.footer__middle {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		display: -webkit-flex;
		justify-content: space-around;
		-webkit-justify-content: space-around;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	}

		.footer__left__form__wrapper {
			width: 50%;
		}
		
			.footer__left__form__wrapper__title {
				margin: 0;
				width: 105px;
				height: 19px;
				font-family: ColaborateLight;
				color: #ffffff;
				font-size: 25px; /* Приближение из-за подстановки шрифтов */
				font-weight: 300;
				line-height: 23.01px; /* Приближение из-за подстановки шрифтов */
				text-align: center;
			}

			.footer__left__form__wrapper__text {
				width: 343px;
				height: 32px;
				font-family: ColaborateLight;
				color: rgba(255, 255, 255, 0.55);
				font-size: 14px; /* Приближение из-за подстановки шрифтов */
				font-weight: 300;
				line-height: 20.01px; /* Приближение из-за подстановки шрифтов */
				text-align: justify;
			}

			.footer__left__form__wrapper__inputs {
				padding: 10px 0 0 0;
			}

				.footer__input__email {
					padding: 0 0 0 10px;
					color: #4a4a5c;
					outline: none;
					width: 213px;
					height: 28px;
					box-shadow: inset 0 0 6px #090917;
					background-color: #1f1f37;
					border-left: 1px solid #4a4a5a;
					border-top: 2px solid #090917;
					border-right: 1px solid #4a4a5a;
					border-bottom: 1px solid #4a4a5a;
					border-radius: 8px;
				}

				.footer__input__email::placeholder {
					
					font-family: ColaborateLight;
					color: #4a4a5c;
					font-size: 14px; /* Приближение из-за подстановки шрифтов */
					font-weight: 300;
					line-height: 20.01px; /* Приближение из-за подстановки шрифтов */
					text-align: justify;
				}

				.footer__input__submit {
					margin: 0 0 0 10px;
					width: 85px;
					height: 27px;
					outline: none;
					border:none;
					border-radius: 8px;
					background-color: #e8e9eb;
					font-family: ColaborateLight;
					color: #363648;
					font-size: 14px; /* Приближение из-за подстановки шрифтов */
					font-weight: 300;
					line-height: 20.01px; /* Приближение из-за подстановки шрифтов */
					text-align: center;
				}

			.footer__left__form__wrapper__socialicons {
				padding: 20px 0 0 0;
				display: inline-block;
			}

				.footer__left__form__wrapper__socialicons span {
					padding: 0px 10px 0 0px;
				}

				.footer__right__form__wrapper__title{
					margin: 20px 0 10px 0;
					font-family: ColaborateLight;
					color: #ffffff;
					font-size: 25px; /* Приближение из-за подстановки шрифтов */
					font-weight: 300;
					line-height: 23.01px; /* Приближение из-за подстановки шрифтов */
					text-align: left;
				}

				.footer__left__inputs {
					float: left;
					width: 210px;
				}

				.footer__right__form__input {
					box-shadow: inset 0 0 6px #090917;
					background-color: #1f1f37;
					border-left: 1px solid #4a4a5a;
					border-top: 2px solid #090917;
					border-right: 1px solid #4a4a5a;
					border-bottom: 1px solid #4a4a5a;
					outline: none;
					border-radius: 8px;
					width: 203px;
					height: 28px;
					margin: 0 0 10px 0;
					padding: 0 0 0 10px;
					color: #4a4a5c;
				}

				.footer__right__form__bigtext {
					margin: 0 0 0 15px;
					min-width: 192px;
					max-width: 192px;
					min-height: 109px;
					max-height: 109px;
					box-shadow: inset 0 0 6px #090917;
					background-color: #1f1f37;
					border-left: 1px solid #4a4a5a;
					border-top: 2px solid #090917;
					border-right: 1px solid #4a4a5a;
					border-bottom: 1px solid #4a4a5a;
					outline: none;
					border-radius: 8px;

				}
				
				.footer__right__form__wrapper__form__button {
					margin: 15px 0 0 0;
					text-align: right;
				}

				.footer__right__form__wrapper__form__button input{
					width: 85px;
					height: 27px;
					outline: none;
					border: none;
					border-radius: 8px;
					background-color: #e8e9eb;
					font-family: ColaborateLight;
					color: #363648;
					font-size: 14px; /* Приближение из-за подстановки шрифтов */
					font-weight: 300;
					line-height: 20.01px; /* Приближение из-за подстановки шрифтов */
					text-align: center;
				}

		.footer__copyright__p{
			margin: 0 auto;
			font-family: ColaborateLight;
			color: rgba(255, 255, 255, 0.55);
			font-size: 14px; /* Приближение из-за подстановки шрифтов */
			font-weight: 300;
			line-height: 15.01px; /* Приближение из-за подстановки шрифтов */
		}


/* MEDIA QUERYS */

@media only screen and (min-width: 320px) {
	.logo {
		display: none;
	}
	.header-top {
		justify-content: flex-end;
	}
	.nav_checkbox {
		display: block;
		position: absolute;
		width: 35px;
		height: 30px;
		opacity: 0;
		top: 15px;
		right: 30px;
		z-index: 1;
	}
	.nav_checkbox:hover {
		cursor: pointer;
	}
	.nav_checkbox:checked ~ .header-nav {
		display: block;
		right: 35px;
		top:16px;
		height: auto;
		position: relative;
		transition: none;
		overflow: inherit;
		margin: 0;
	}
	.nav_checkbox:checked ~ .header-nav a{
		padding: 8px 12px 8px 12px;
		font-family: ColaborateRegular;
		background-color: transparent;
		color: #a4a4b2;
		font-size: 17px;
		font-weight: 300;
		line-height: 22px;
		text-align: justify;
		text-decoration: none;
		letter-spacing: 0;
		height: auto;
		transform: none;
		text-transform: none;
		transition: 0.2s, opacity 0.5s;
	}
	.nav_checkbox:checked ~ .header-nav a:hover {
		background-color: #d1d1d5;
		color: #0f0f24;
	}
	
	.nav_checkbox:checked ~ .header-nav:after {
		content: '';
		position: absolute;
		right: 0;
		bottom: -10px;
		width: 100%;
		height: 2px;
		background-color: #a4a4b2;
	}

	.nav_checkbox:checked ~ .button_toggle {
		position: absolute;
		display: inline-block;
		width: 20px;
		height: 20px;
		margin: 25px;
		background-color: transparent;
		border: none;
		cursor: pointer;
		border-radius: 100%;
		-webkit-transition: 0.6s;
		transition: 0.6s;
		right: 0;
	}

	.nav_checkbox:checked ~ .button_toggle::before, .nav_checkbox:checked ~ .button_toggle::after{
		position: absolute;
		content: '';
		top: 8px;
		right: 12px;
		width: 29px;
		height: 2px;
		background-color: #d1d1d5;
		border-radius: 5px;
		-webkit-transition: 0.5s;
		transition: 0.5s;
	}
	.nav_checkbox:checked ~ .button_toggle::before {
	    -webkit-transform: translateY(-50%) rotate(-45deg) scale(1);
	    -ms-transform: translateY(-50%) rotate(-45deg) scale(1);
	    transform: translateY(-50%) rotate(-45deg) scale(1);
	}
	.nav_checkbox:checked ~ .button_toggle::after {
	    -webkit-transform: translateY(-50%) rotate(45deg) scale(1);
	    -ms-transform: translateY(-50%) rotate(45deg) scale(1);
	    transform: translateY(-50%) rotate(45deg) scale(1);
	}
	.header-nav {
		position: absolute;
		right: 35px;
		top:16px;
		height: 30px;
		overflow: hidden;
		-webkit-transition: top 1s ease-out 0.5s;
		-moz-transition: top 1s ease-out 0.5s;
		-o-transition: top 1s ease-out 0.5s;
		transition: top 1s ease-out 0.5s;
	}
	.header-nav a {
		display: block;
	}

	.nav_el {
		padding: 5px 12px 5px 12px;
		background-color: #fff;
		position: relative;
		display: inline-block;
		color: transparent;
		font-size: 14px;
		letter-spacing: -8.2px;
		height: 1px;
		line-height: 0;
		text-transform: uppercase;
		white-space: nowrap;
		transform: scaleY(0.2);
		transition: 0.5s, opacity 1s;
	}

	/* slider */
	.slider_wrapper {
		margin-top: 100px;
	}

	/* content */
	.content__col {
		max-width: 400px;
	}

	.book__block,.image__block,.media__block,.leo__block {
		width: 220px;
		margin-bottom: 20px;
	}
	.discover,.browse,.development {
		justify-content: center;
		-webkit-justify-content: center;
	}
	.discover__text,.browse__text,.development__text {
		text-align: center;
	}

	.content__text__p {
		max-width: 90%;
	}
	.content__info__img {
		width: 300px;
		height: 200px;
	}
	.content__info__text {
		width: 90%;
	}

	.content__info__list {
		padding: 0 0 0 10px;
	}

	.content__info__bottomtext {
		width: 90%;
	}

	/* footer */
	.footer__top__text {
		width: 100%;
		margin: 25px 0 0 0;
		text-align: center;
	}
}

@media only screen and (min-width: 480px) {
	/* content */
	.content__col {
		max-width: 510px;
	}
	.content__info__img {
		width: 382px;
		height: 235px;
	}
	.content__info__text {
		width: auto;
	}

	.content__info__list {
		padding: 0 0 0 20px;
	}
}

@media only screen and (min-width: 768px) {
	.logo {
		display: block;
	}
	.header-top {
		justify-content: space-between;
	}
	/* slider */
	.slider_wrapper {
		margin-top: 50px;
	}
	/* content */
	.content__flex__wrapper {
		max-width: 850px;
	}
	.discover,.browse,.development {
		justify-content: flex-start;
		-webkit-justify-content: flex-start;
	}
	.discover__text,.browse__text,.development__text {
		text-align: justify;
	}
	.content__text__p {
		max-width: 550px;
	}
	.content__info__bottomtext {
		width: auto;
	}

	/* footer */
	.footer__top__text {
		width: 80%;
		text-align: left;
		margin: 0;
	}
}
@media only screen and (min-width: 992px) {

	.nav_checkbox:checked ~ .button_toggle,.nav_checkbox:checked ~ .header-nav::after,
	.nav_checkbox:checked ~ .button_toggle::after,.nav_checkbox:checked ~ .button_toggle::before,
	 .nav_checkbox:checked ~ .button_toggle::after,.nav_checkbox   {
		display: none;
	}

	.header-nav {
		transition: none;
		position: relative;
		overflow:auto;
		height: auto;
		margin: 0;
	}

	.header-nav a {
		display: inline-block;
	}

	.nav_el {
		color: #a4a4b2;
		transition: none;
		transform: none;
		line-height: 23px;
		height: auto;
		letter-spacing: 0;
		background-color: transparent;
		text-transform: none;
		font-size: 17px;
	}
	/* content */
	.content__col,.content__flex__wrapper {
		max-width: 1200px;
	}

}
@media only screen and (min-width: 1200px) {
	.book__block,.image__block,.media__block,.leo__block {
		width: 234px;
	}
}
/* end madia querys*/